{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id=content>
    <!--List of posts-->
    <ul class="bulletless list">
	{{ range .Paginator.Pages }}
	<li>
        <div class="list">
		{{ if .Date }}
          <div>
              <time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "02 Jan 2006" }}</time>
          </div>
	  {{ end }}
          <div>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        </div>
	</li>
      {{ end }}
    </ul>
    <!--Pagination menu-->
    <ul class="center bulletless">
	    {{ with .Paginator.Prev }}
	    <li>
	    <div>
		    <div class="list">
			    <a href="{{ .URL | absURL }}">{{ $.Site.Params.strPreviousPage | default "previous page"}}</a>
		    </div>
	    </div>
	    </li>
	    {{ end }}
	    {{ with .Paginator.Next }}
	    <li>
	    <div>
		    <div class="list">
			    <a href="{{ .URL | absURL }}">{{ $.Site.Params.strNextPage | default "next page"}}</a>
		    </div>
	    </div>
	    </li>
	    {{ end }}
    </ul>
  </section>

{{ partial "footer.html" . }}
