{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id=content>
    <!--List of posts-->
    <!--
    <ul class="bulletless list">
	{{ range .Paginator.Pages }}
	<li>
        <div class="list">
	{{ partial "datecat.html" . }}
          <div>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
        </div>
	</li>
      {{ end }}
    </ul>
    -->
    <ul class="list">

    {{ range .Paginator.Pages }}
	    <li class="list">
		    <div class="h3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
		    <div class="list">
	{{ partial "datecat.html" . }}
		    </div>
	    </li>

    {{ end }}
	</ul>
    <!--Pagination menu-->
    <ul class="center bulletless">
	    {{ with .Paginator.Prev }}
	    <li>
	    <div>
		    <div class="list">
			    <a href="{{ .URL | absURL }}">{{ $.Site.Params.strPreviousPage | default "previous page"}}</a>
		    </div>
	    </div>
	    </li>
	    {{ end }}
	    {{ with .Paginator.Next }}
	    <li>
	    <div>
		    <div class="list">
			    <a href="{{ .URL | absURL }}">{{ $.Site.Params.strNextPage | default "next page"}}</a>
		    </div>
	    </div>
	    </li>
	    {{ end }}
    </ul>
  </section>

{{ partial "footer.html" . }}
