{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main>
<article lang='{{ .Site.Language.Lang }}'>
<section>
    <h1>{{ .Title }}</h1>
    <div class="list">
{{ if .Date }}
	    <time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "02 Jan 2006" }}</time>
{{ end }}
{{ range .Params.cat }}
<a href="{{ "/" | relLangURL }}cat/{{ .  | urlize }}"><i>#{{ . }}</i></a>
{{ end }}
    </div>
    {{ if eq true .Params.toc }}
<div>
	{{.TableOfContents}}
</div>
{{ end }}

    <div>
        {{ .Content }}
    </div>
</section>
</article>
</main>
<!--
<hr>
<div class="list">
{{ with .PrevInSection }}
<a href="{{ .Permalink }}">{{ .Title }}</a>
{{ end }}
<br />
{{ with .NextInSection }}
<a href="{{ .Permalink }}">{{ .Title }}</a>
{{ end }}
</div>
-->
{{ partial "footer.html" . }}
