    <body>
	    <header class="center invertDecoration horizontalList">
		    <a href="{{ .Site.Home.Permalink }}" aria-label="{{ .Site.Params.strLinkDescriptor }}"><img alt="{{ .Site.Params.sitename }}." src="/logo/logo.svg" width="32" height="32"></a>
		<div>
			<h1><a href="{{ .Site.Home.Permalink }}" aria-label="{{ .Site.Params.strLinkDescriptor }}">{{ .Site.Params.sitename | default "Tigers"}}</a></h1>
		</div>

	    <nav>
			<ul>
			{{ range .Site.Menus.main }}
			<li>
			    <a href="{{ .URL | absURL }}">{{ .Title }}</a>
			</li>
			{{ end }}
			</ul>
		
		<ul>
			<!-- If translation extists point language menu entry to the translation of the current page, otherwise point to homepage -->
			{{ $pageTranslationLanguageKeys := slice }}
			{{ range .Translations }}
			{{ $pageTranslationLanguageKeys = $pageTranslationLanguageKeys | append .Language.Lang }}

 <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
			{{ end }}


		  {{ range .Site.Home.AllTranslations }}
		  {{ if not (in $pageTranslationLanguageKeys .Language.Lang) }}
		  <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
		  {{ end }}
		  {{ end }}

		</ul>
	    </nav>
	    </header>
