<!DOCTYPE html>
<html lang="{{ .Language }}">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="true"/>
  <link rel='canonical' href='{{ .Permalink }}'>

  <link rel="stylesheet" href="{{ "/assets/css/font.css" | absURL }}" defer >

    <meta name="description" content="{{ .Description }}">
    {{ if .Params.Tags }}
<meta name="keywords" content="{{ with .Params.Tags }}{{ delimit . ", " }}{{ end }}" />
    {{ end}}
    {{ if .Params.Keywords }}
<meta name="keywords" content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ end }}" />
    {{ end}}
    <meta name="author" content="{{ .Site.Params.siteAuthor }}">
    <title>{{ .Title | default "Tigers" }} - {{ .Site.Params.sitename | default "Tigers" }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/stylesheet.css" | absURL }}" defer >

    <!-- Internationalization stuff -->
    {{ if .IsTranslated }}
    {{ range .Translations }}
  <link rel='alternate' hreflang='{{ .Lang }}' href='{{ .Permalink }}'>
  {{ end }}
  {{- with index .Site.Home.AllTranslations 0 -}}
    <link rel='alternate' hreflang='x-default' href='{{ .Permalink }}'>
    {{ end }}
  {{ end }}

    <!-- Icons and stuff -->
    <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | absURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | absURL }}">
    <link rel="alternate icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | absURL }}">
    <link rel="alternate icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | absURL }}">
    <link rel="manifest" href="{{ "/site.webmanifest" | absURL }}">
    <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | absURL }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#FFA86A">

<!-- Opengraph -->
<meta property="og:title" content="{{ .Title | default "Tigers" }} - {{ .Site.Params.sitename | default "Tigers" }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Params.metaImage }}
<meta property="og:image" content="{{ .Params.metaImage | absURL }}">
{{ else if .Site.Params.metaImage }}
<meta property="og:image" content="{{ .Site.Params.metaImage | absURL }}">
{{ end }}


<!-- RSS stuff -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    </head>
    <body>
	    <header>
        <section class="header center">
		<div>
            <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Params.sitename | default "Tigers"}}</a></h1>
		</div>
		{{ if not .IsHome }}
	    <nav>
	    <div class="bottompad">
		    <a id="menuButton" href="#">{{ .Site.Params.strMenu | default "Menu" }}</a>
		<div id="hiddenMenu" class="left">
			<ul class="bulletless">
				{{ range .Site.Menus.main }}
				<li>
				<div class="list">
				<a href="{{ .URL | absURL }}">{{ .Title }}</a>
				</div>
				</li>
				{{ end }}	
				<li>
				<div class="list">
				&nbsp;
				</div>
				</li>

	    			{{ range $.Site.Home.AllTranslations }}
				<li>
				<div class="list">
				<a href="{{ .Permalink }}">{{ .Language.LanguageName }} </a>
				</div>
				</li>
				{{ end }}
			</ul>
		</div>

	    </div>
	    </nav>
	    {{ end }}
	</section>
	    </header>
