<main>
<article lang='{{ .Site.Language.Lang }}'>
    <h1>{{ .Title }}</h1>
        <div class="invertDecoration">
	{{ partial "datecat.html" . }}
    </div>
    {{ if eq true .Params.toc }}
<div>
	{{.TableOfContents}}
</div>
{{ end }}

    <div>
        {{ .Content }}
    </div>
</article>
</main>
<ul class="invertDecoration horizontalList center">
{{ with .PrevInSection }}
<li><a href="{{ .Permalink }}">{{ $.Site.Params.strPreviousPage }} ({{ .Title | truncate 16 }})</a></li>
{{ end }}
{{ with .NextInSection }}
<li><a href="{{ .Permalink }}">({{ .Title | truncate 16 }}) {{ $.Site.Params.strNextPage }}</a></li>
{{ end }}
</ul>
